<div class="col-sm-3">
    <button class="btn btn-primary btn-sm" *ngIf="rol<2" (click)="myModal.open();alta()">Alta</button>
</div>
<table>
    <tr>
        <th>Descripcion</th>
        <th>Localidad</th>
        <th>Calle</th>
        <th>Numero</th>
        <th>Accion</th>
    </tr>
    <tr *ngFor='let value of lista let index = index'>
        <td>{{value.descripcion}}</td>
        <td>{{value.localidad}}</td>
        <td>{{value.calle}}</td>
        <td>{{value.numero}}</td>
        <td>
            <div><a class="btn  btn-info btn-xs" (click)="myModal.open();modificar(value)">Modificar</a><a *ngIf="rol<2" class="btn  btn-danger btn-xs"
                    (click)="eliminar(value)">X</a></div>
        </td>
    </tr>
</table>



<modal #myModal modalClass="modal-lg">
    <modal-header>
        <h3>Alta de Usuario</h3>
    </modal-header>
    <modal-content>
        <form class="col-sm-10" [formGroup]="formLocales">
            <div class="form-group col-sm-5">
                <label for="descripcion">descripcion</label>
                <input [(ngModel)]="descripcion" formControlName="descripcion" required minlength="4" maxlength="24" name="descripcion" type="text"
                    class="form-control" id="descripcion" placeholder="descripcion">
                <div class="alert alert-danger" *ngIf="!formLocales.controls.descripcion.valid">Error los valores ingresados para descripcion no son validos</div>
                <label for="localidad">localidad</label>
                <input type="text" [(ngModel)]="localidad" formControlName="localidad" class="form-control" id="localidad" name="localidad"
                    placeholder="localidad">
                <div class="alert alert-danger" *ngIf="!formLocales.controls.localidad.valid">Error los valores ingresados para localidad no son validos</div>
            </div>
            <div class="form-group col-sm-5">
                <label for="calle">calle</label>
                <input type="text" [(ngModel)]="calle" formControlName="calle" class="form-control" id="calle" name="calle" placeholder="calle">
                <div class="alert alert-danger" *ngIf="!formLocales.controls.calle.valid">Error los valores ingresados para calle no son validos</div>

                <label for="numero">numero</label>
                <input type="text" [(ngModel)]="numero" formControlName="numero" class="form-control" id="numero" name="numero" placeholder="numero">
                <div class="alert alert-danger" *ngIf="!formLocales.controls.numero.valid">Error los valores ingresados para numero no son validos</div>
            </div>
        </form>
    </modal-content>
    <modal-footer class="col-sm-5">
        <button class="btn btn-primary" *ngIf="!disa" [disabled]="!formLocales.valid" (click)="update(1);myModal.close();">Aceptar</button>
        <button class="btn btn-primary" *ngIf="disa" [disabled]="!formLocales.valid" (click)="update(2);myModal.close();">Aceptar</button>
        <button class="btn " (click)="myModal.close()">Cancelar</button>
    </modal-footer>
</modal>