
<div style="width:50%">
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <button (click)="randomize()">Update</button>
  <button (click)="circulo()">Circulo</button>
  <button (click)="barras()">barras</button>
  <button (click)="lineas()">lineas</button>
  <button (click)="radar()">radar</button>
  <button (click)="polarArea()">polarArea</button>
</div>