<table>
    <tr>
        <th>Nro Pedido</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th>Local</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th *ngIf="rol!=4">Accion</th>
    </tr>
    <tr *ngFor='let value of lista let index = index'>
        <td>{{value.idpedido}}</td>
        <td>{{value.nombrec}}, {{value.apellidoc}}</td>
        <td>{{value.nombre}}, {{value.apellido}}</td>
        <td>{{value.descripcionl}}</td>        
        <td>{{value.fecha | date: 'dd/MM/yyyy'}}</td>        
        <td>{{value.descripcione}}</td>        
        <td  *ngIf="rol!=4">
            <div><a class="btn  btn-success btn-xs" (click)="cambiarestado(value,3)">Finalizar</a><a class="btn  btn-danger btn-xs" (click)="cambiarestado(value,2)">Cancelar</a><a class="btn  btn-info btn-xs" (click)="cambiarestado(value,1)">Pendiente</a></div>
        </td>
    </tr>
</table>