<div class="row" >
		<div class="col-lg-12">			
	      <ol class="breadcrumb">
          <h2>Acerca de</h2> 
				</ol>	        
		</div>
		
		<!-- /.col-lg-12 -->
	</div>
<div style="width:60%">
  {{posicion}}
<!--app-alta-locales (eventoLocal)="agregarLocal($event)"  (eventocancelar)="mostrar=$event" *ngIf="!mostrar && (mostrarModificar==false)"></app-alta-locales-->  
<ngui-map center={{position}}>
   <marker  position={{position}}
     [icon]="{
       url: 'assets/img/icono.png', 
       anchor: [16,16],
       size: [32,32],
       scaledSize: [32,32]
     }">
    </marker>
</ngui-map>
</div>
