.logo{
     width: 17%;
}
.fondo{    
    background-color: burlywood;
}
.cabecera{
    width: 10%;
    text-align: center;
    float: right;
}
.imgCentrada{
    width: 62%;
    height: 100px;
    text-align: center;
/*    display: block;*/
    margin-left: auto;
    margin-right: auto;
}
.error{
    border: 1px solid red;
}
.displayer{
    display: none;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
