<h1>
  {{title}}
</h1>
<div class="row col-md-12 col-sm-8 col-xs-12">
  <form class="col-sm-6"> 
    <div class="form-group  col-sm-6">
      <label for="cuenta">Cuenta</label>
      <input [(ngModel)]="cuenta" required minlength="4" maxlength="24" name="cuenta" type="text" class="form-control" id="cuenta" placeholder="Cuenta">
    </div>
    <div class="form-group col-sm-6">
      <label for="password" >Password</label>
      <input type="password" [(ngModel)]="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>  
    <button type="button" (click)="TraerPersonas()" class="btn btn-default">Ingresar</button>
  </form>
</div>