<header>
  <div>
    <div>
      <img src="assets/img/pizzalogo.jpg" class="logo" alt="logo">
      <img src="{{img}}" class="local" alt="local" class="imgCentrada" >
       <ng-select class="cabecera" [multiple]="false" [options]="myOptions" [ngModelOptions]="{standalone: true}"  (selected)="cambio()" [(ngModel)]="local">                     
      </ng-select>
      <div class="cabecera" *ngFor='let value of datosLocal let index = index'>        
        <p>{{value.localidad}}</p>
        <p>{{value.calle}} - {{value.numero}}</p>
        <p>A xx KM de tu dirección</p>
      </div>
    </div>      
  </div>
</header>
<div>  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Home</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLink="/Usuarios" routerLinkActive="active">Pedidos</a></li>
          <li><a routerLink="/Productos" routerLinkActive="active">Productos</a></li>
          <li *ngIf="rol==1"><a routerLink="/Locales" routerLinkActive="active">Locales</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" routerLink="/Estadisticas" data-toggle="dropdown" role="button" aria-expanded="false">Estadisticas <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="rol==1 || rol==2"><a routerLink="/Usuarios" routerLinkActive="active">Usuarios</a></li>
          <li><a href="#">Registrarse</a></li>
          <li><!--class="active"--><a routerLink="/Login" routerLinkActive="active">Login <span class="sr-only">(current)</span></a></li>
          <li><a href="#">{{usuario}}</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>