.logo{
     width: 17%;
}
.fondo{    
    background-color: burlywood;
}
.cabecera{
    width: 10%;
    text-align: center;
    float: right;
}
.imgCentrada{
    width: 62%;
    height: 100px;
    text-align: center;
/*    display: block;*/
    margin-left: auto;
    margin-right: auto;
}
.backImage{
    background-image:url("assets/img/fondo.jpg");

}