.right{
    text-align: right;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.fondoProductos{
    background-color:rgba(250,235,215,0.6)    
}
.error{
    border: 1px solid red;
}
.displayer{
    display: none;
}
.colorpick{
    background-color: aliceblue; 
}