<div class="row col-md-12 col-sm-8 col-xs-12">
  <div class="col-sm-3">
  </div>  
  <div class="col-sm-6">
    <div ngFor='let value of listadoProductos; trackBy: index;'>
      {{value.descripcion_corta}}
      </div>
    <table style="height: 136px;" width="260">
      <tbody >
        <tr>
          <td rowspan="2"><img src="" alt="" > <br /><br /></td>
          <td>a</td>
        </tr>
        <tr>
          <td>b</td>
        </tr>
      </tbody>
    </table>    
  </div>
  <div class="col-sm-3">
  </div>
</div>