<div class="row col-md-12 col-sm-8 col-xs-12 fondo">
  <div class="col-sm-3">
    <button class="btn btn-primary btn-sm" (click)="alta()">Alta</button>
  </div>
  <div class="col-sm-6">
    <table style="height: 136px;" width="100%">
      <tbody *ngFor='let value of listadoProductos let index = index' >
        <tr>
          <td><button class="btn btn-xs" (click)="modificar(value)">Modificar</button></td>
          </tr>
        <tr>
          <td rowspan="2"><img src="assets/img/peppy.jpg" width="100%" alt=""> <br /><button class="btn btn-danger btn-xs" (click)="eliminar(value)">Eliminar</button><br /></td>
          <td style="background-color: antiquewhite;">{{value.descripcion_corta}} <i class="fa fa-plus" aria-hidden="true"></i></td>
          <td style="width: 10%;">
            <div>
              <button
                class="btn btn-success btn-xs" (click)="agregar(value)">+</button>
            </div>
          </td>
        </tr>
        <tr>
          <td style=" width: 80%; background-color: antiquewhite;">{{value.descripcion_larga}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <h3>Pedido</h3>
    <!--input type="number" [(ngModel)]="self['answer'+index]" class="form-control" name="cantidad" id="cantidad" style="width: 100%;"-->
    <div *ngFor='let value of pedidos let index = index'>
      <input type="number" id="cantidad+[index]" name="cantidad+[index]" width="100%">
      {{value.descripcion_corta}}
      <button class="btn btn-danger btn-xs" (click)="eliminar(value)">-</button>
    </div>
    <div *ngIf="existenP"><button class="btn btn-primary btn-sm" (click)="confirmar()">Confirmar</button></div>
  </div>
</div>