<div class="row col-md-12 col-sm-8 col-xs-12 fondo">
  <div class="col-sm-3">
    <button class="btn btn-primary btn-sm" (click)="myModal.open();alta()">Alta</button>
  </div>
  <div class="col-sm-6">
    <table style="height: 136px;" width="100%">
      <tbody *ngFor='let value of listadoProductos let index = index' >
        <tr>
          <td><button class="btn btn-xs" (click)="modificarProducto(value)">Modificar</button></td>
          </tr>
        <tr>
          <td rowspan="2"><img src="assets/img/peppy.jpg" width="100%" alt=""> <br /><button class="btn btn-danger btn-xs" (click)="eliminarProducto(value)">Eliminar</button><br /></td>
          <td style="background-color: antiquewhite;">{{value.descripcion_corta}} <i class="fa fa-plus" aria-hidden="true"></i></td>
          <td style="width: 10%;">
            <div>
              <button
                class="btn btn-success btn-xs" (click)="agregar(value)">+</button>
            </div>
          </td>
        </tr>
        <tr>
          <td style=" width: 80%; background-color: antiquewhite;">{{value.descripcion_larga}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <h3>Pedido</h3>
    <!--input type="number" [(ngModel)]="self['answer'+index]" class="form-control" name="cantidad" id="cantidad" style="width: 100%;"-->
    <div *ngFor='let value of pedidos let index = index'>
      <input type="number" id="cantidad+[index]" name="cantidad+[index]" width="100%">
      {{value.descripcion_corta}}
      <button class="btn btn-danger btn-xs" (click)="eliminar(value)">-</button>
    </div>
    <div *ngIf="existenP"><button class="btn btn-primary btn-sm" (click)="confirmar()">Confirmar</button></div>
  </div>
</div>


<modal #myModal modalClass="modal-lg">
    <modal-header>
        <h3>Alta de Producto</h3>
    </modal-header>
    <modal-content>
        <form class="col-sm-10" [formGroup]="formProductos">
            <div class="form-group col-sm-10">
                <label for="descripcion_corta">Descripcion Corta</label>
                <input [(ngModel)]="descripcion_corta" formControlName="descripcion_corta" required minlength="4" maxlength="24" name="descripcion_corta" type="text"
                    class="form-control" id="descripcion_corta" placeholder="descripcion_corta">
                <div class="alert alert-danger" *ngIf="!formProductos.controls.descripcion_corta.valid">Error los valores ingresados para Descripcion Corta no son validos</div>
                <label for="descripcion_larga">Descripcion Larga</label>
                <input type="text" [(ngModel)]="descripcion_larga" formControlName="descripcion_larga" class="form-control" id="descripcion_larga" name="descripcion_larga"
                    placeholder="descripcion_larga">
                <div class="alert alert-danger" *ngIf="!formProductos.controls.descripcion_larga.valid">Error los valores ingresados para Descripcion Larga no son validos</div>
            </div>
            <div class="form-group col-sm-10">
                <label for="precio_costo">Precio Costo</label>
                <input type="text" [(ngModel)]="precio_costo" formControlName="precio_costo" class="form-control" id="precio_costo" name="precio_costo" placeholder="precio_costo">
                <div class="alert alert-danger" *ngIf="!formProductos.controls.precio_costo.valid">Error los valores ingresados para Precio Costo no son validos</div>

                <label for="precio_venta">Precio Venta</label>
                <input type="text" [(ngModel)]="precio_venta" formControlName="precio_venta" class="form-control" id="precio_venta" name="precio_venta" placeholder="precio_venta">
                <div class="alert alert-danger" *ngIf="!formProductos.controls.precio_venta.valid">Error los valores ingresados para Precio Venta no son validos</div>
            </div>
        </form>
    </modal-content>
    <modal-footer class="col-sm-5">
        <button class="btn btn-primary" *ngIf="!disa" [disabled]="!formProductos.valid" (click)="update(1)">Aceptar</button>
        <button class="btn btn-primary" *ngIf="disa" [disabled]="!formProductos.valid" (click)="update(2)">Aceptar</button>
        <button class="btn " (click)="myModal.close()">Cancelar</button>
    </modal-footer>
</modal>