<div class="row" >
		<div class="col-lg-12">			
	      <ol class="breadcrumb">
          <h2>Usuarios</h2> 
				</ol>	        
		</div>
		
		<!-- /.col-lg-12 -->
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<button (click)="myModal.open();alta();" class="btn-primary">Alta</button>
<img (click)="excel()" src="assets/img/xls.png" alt="xls" width="3%">
<!--ng2-smart-table [settings]="settings" [source]="data" (editConfirm)="editar($event)" (deleteConfirm)="delete($event)" (createConfirm)="crear($event)">
</ng2-smart-table-->
<div style="overflow-y:scroll !important;height:500px">
<table id="tablausuarios" >
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Mail</th>
        <th>roles</th>
        <th>DNI</th>
        <th>Estado</th>
        <th>Accion</th>
    </tr>
    <tr *ngFor='let value of data let index = index'>
        <td>{{value.nombre}}</td>
        <td>{{value.apellido}}</td>
        <td>{{value.mail}}</td>
        <td>{{value.roles}}</td>
        <td>{{value.dni}}</td>
        <td>{{value.estado== 1 ? 'Activo' : 'Inactivo'}}</td>
        <td>
            <div *ngIf="rolLogueado!=2">
                <a class="btn  btn-info btn-xs" (click)="myModal.open();modificar(value)">Modificar</a>&nbsp;&nbsp;
                <a class="btn  btn-danger btn-xs" (click)="delete(value)">X</a>
            </div>
            <div *ngIf="rolLogueado==2">
                <a class="btn  btn-success btn-xs" (click)="changeEstado(1,value.idusuario)">Activo</a>&nbsp;&nbsp;
                <a class="btn  btn-danger btn-xs" (click)="changeEstado(0,value.idusuario)">Inactivo</a>
            </div>
        </td>
    </tr>
</table>
</div>
<div class="row col-md-12 col-sm-8 col-xs-12">
    <div class="">
        <modal #myModal modalClass="modal-lg">
            <modal-header>
                <h3>Alta de Usuario</h3>
            </modal-header>
            <modal-content>
                <form class="col-sm-13" [formGroup]="formUser">
                    <div class="form-group col-sm-4">
                        <label for="nombre">Nombre</label>
                        <input [(ngModel)]="nombre" formControlName="nombre" required minlength="4" maxlength="24" name="nombre" type="text" class="form-control"
                            id="nombre" placeholder="Nombre" (blur)="validar('nombre')" [ngClass]="{'error':!formUser.controls['nombre'].valid}">                        
                            <div class="alert alert-danger displayer" id="errornombre">Error los valores ingresados para Nombre no son validos</div>
                        
                        <label for="apellido">Apellido</label>
                        <input type="text" [(ngModel)]="apellido" formControlName="apellido" class="form-control" id="apellido" name="apellido" placeholder="Apellido" (blur)="validar('apellido')" [ngClass]="{'error':!formUser.controls['apellido'].valid}">
                        <div class="alert alert-danger displayer" id="errorapellido">Error los valores ingresados para Apellido no son validos</div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="email">Email</label>
                        <input type="text" [(ngModel)]="email" formControlName="email" class="form-control" id="email" name="email" placeholder="Email" (blur)="validar('email')" [ngClass]="{'error':!formUser.controls['email'].valid}">
                        <div class="alert alert-danger displayer" id="erroremail">Error los valores ingresados para Email no son validos</div>

                        <label for="dni">DNI</label>
                        <input type="text" [(ngModel)]="dni" formControlName="dni" class="form-control" id="dni" name="dni" placeholder="DNI" (blur)="validar('dni')" [ngClass]="{'error':!formUser.controls['dni'].valid}">
                        <div class="alert alert-danger displayer" id="errordni">Error los valores ingresados para DNI no son validos</div>
                    </div>
                    <div class="form-group col-sm-4">

                        <label for="cuenta">Cuenta</label>
                        <input type="text" [(ngModel)]="cuenta" formControlName="cuenta" class="form-control" id="cuenta" name="cuenta" placeholder="Cuenta" (blur)="validar('cuenta')" [ngClass]="{'error':!formUser.controls['cuenta'].valid}">
                        <div class="alert alert-danger displayer" id="errorcuenta">Error los valores ingresados para Cuenta no son validos</div>

                        <label for="rol">Rol</label>
                        <ng-select [multiple]="false" [options]="myOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="rol">
                            <div class="alert alert-danger" *ngIf="!formUser.controls.rol.valid">Error los valores ingresados para Rol no son validos</div>
                        </ng-select>
                    </div>
                    <div class="form-group col-sm-12" *ngIf="rol==4">
                        <label for="ciudad">Ciudad</label>
                        <input type="text" [(ngModel)]="ciudad" formControlName="ciudad" class="form-control" id="ciudad" name="ciudad" placeholder="ciudad">
                        <div class="alert alert-danger" *ngIf="!formUser.controls.ciudad.valid">Error los valores ingresados para ciudad no son validos</div>

                        <label for="localidad">Localidad</label>
                        <input type="text" [(ngModel)]="localidad" formControlName="localidad" class="form-control" id="localidad" name="localidad"
                            placeholder="localidad">
                        <div class="alert alert-danger" *ngIf="!formUser.controls.localidad.valid">Error los valores ingresados para localidad no son validos</div>
                    </div>
                    <div class="form-group col-sm-4" *ngIf="rol==4">
                        <label for="calle">Calle</label>
                        <input type="text" [(ngModel)]="calle" formControlName="calle" class="form-control" id="calle" name="calle" placeholder="calle">
                        <div class="alert alert-danger" *ngIf="!formUser.controls.calle.valid">Error los valores ingresados para calle no son validos</div>


                        <label for="numero">Número</label>
                        <input type="text" [(ngModel)]="numero" formControlName="numero" class="form-control" id="numero" name="numero" placeholder="numero">
                        <div class="alert alert-danger" *ngIf="!formUser.controls.numero.valid">Error los valores ingresados para numero no son validos</div>
                    </div>
                    <div class="form-group col-sm-4" *ngIf="rol==4">
                        <label for="piso">Piso</label>
                        <input type="text" [(ngModel)]="piso" formControlName="piso" class="form-control" id="piso" name="piso" placeholder="piso">
                        <div class="alert alert-danger" *ngIf="!formUser.controls.piso.valid">Error los valores ingresados para piso no son validos</div>

                        <label for="dpto">Dpto</label>
                        <input type="text" [(ngModel)]="dpto" formControlName="dpto" class="form-control" id="dpto" name="dpto" placeholder="dpto">
                        <div class="alert alert-danger" *ngIf="!formUser.controls.dpto.valid">Error los valores ingresados para dpto no son validos</div>
                    </div>
                    <div class="form-group col-sm-4" *ngIf="rol==4">
                        <label for="tel">Tel</label>
                        <input type="text" [(ngModel)]="tel" formControlName="tel" class="form-control" id="tel" name="tel" placeholder="tel">
                        <div class="alert alert-danger" *ngIf="!formUser.controls.tel.valid">Error los valores ingresados para tel no son validos</div>
                    </div>
                    <div class="form-group col-sm-4" *ngIf="rol==4">
                        <label for="entrecalles">Entrecalles</label>
                        <input type="text" [(ngModel)]="entrecalles" formControlName="entrecalles" class="form-control" id="entrecalles" name="entrecalles"
                            placeholder="entrecalles">
                        <div class="alert alert-danger" *ngIf="!formUser.controls.entrecalles.valid">Error los valores ingresados para entrecalles no son validos</div>
                    </div>
                </form>
            </modal-content>
            <modal-footer class="col-sm-3">
                <button class="btn btn-primary" [disabled]="!formUser.valid" (click)="crear(disa);myModal.close()">Aceptar</button>
                <button class="btn " (click)="myModal.close()">Cancelar</button>
            </modal-footer>
        </modal>
    </div>
</div>


<ngui-map center={{position}}>
        <h2>{{position}}</h2>
    <marker *ngFor="let pos of listadomapa" [position]="pos.enmapa"  (click)="clicked($event,pos)" (initialized$)="onMarkerInit($event)">
        <info-window id="iw">
            <div *ngIf="marker.display">
                <div>
                    Nombre: {{dato1}}
                </div>            
                <div >
                    Direccion: {{dato2}}
                </div>            
            </div>
        </info-window>    
    </marker>
</ngui-map>
<script>
    $(document).ready(function() 
    { 
        $("table").tablesorter({
            sortList: [[0,0],[2,0]] 
        }); 
    } 
); 
    
</script>
<!--ngui-map center="Brampton, Canada">
        <marker position="Brampton, Canada" draggable="true" (click)="clicked($event)"></marker>
        <info-window id="iw">
          <div *ngIf="marker.display">
            lat: {{ marker.lat }}, lng: {{ marker.lng }}
          </div>
          <button (click)="hideMarkerInfo()">Hide Info</button>
        </info-window>
      </ngui-map-->